
    <!-- Sidebar -->
<div class="w3-sidebar w3-text-blue w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/cancer_detection" class="w3-bar-item w3-button">Cancer Alert System</a>
    <a href="/quality_image" class="w3-bar-item w3-button">Quality Image Measures</a>
    <a href="/notebook"   class="w3-bar-item w3-button">Technical Stuff</a>
    <a href="/accounts/logout" class="w3-bar-item w3-button">Logout</a>
</div>
