{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiT Image Prediction Tool</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
  </head>

  <body>
    <div class="header" href="/" >
       <!-- Brand -->
      <h1>Support Tool for </br> Malign/Bening Massas Detection</h1>
          
    </div>
     
<!-- Sidebar -->
{% include "includes/sidebar.html" %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input
        class="custom-file-upload"
        type="file"
        accept="image"
        name="image"
        id="file"
      />
      <button class="compress_image" type="submit" id="submitBtn">
        Type of Mass Estimation
      </button>
      <div class="status">
        <p id="message">{{ message }}</p>
      </div>
    </form>

    <div class="wrapper">
      <img
	src="{% static image_name %}"
        alt="Compressed Image"
        width="400px"
      />

      <div class="info_container">
        <ul>
          <li>Name of file: <span class="name">{{ image.name }}</span></li>
          <li>Prediction: <span class="type">{{ prediction }}</span></li>
        </ul>
      </div>
    </div>
 <p class="ex2 w3-text-blue">A little explanation: We have trained the model using Regions of Interest (ROI) previously annotated by a specialist. In other words, the model will take a crop from the mammogram containing the ROI. However, the model is still able to generalize to whole mammograms, but the accuracy drops about 5 percentage. </p>
 <div class="wrapper">
{% include "includes/footer.html" %}
</div>  
<!--     <script src="{% static 'js/main.js' %}"></script> -->
  </body>
</html>
