{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiT Image Prediction Tool</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
  </head>

  <body>
    <div class="header" href="/" >
       <!-- Brand -->
      <h1> Inteligencia Artificial y </br> Métodos de Automatización para Medicina</h1>          
    </div>
      
<!-- Sidebar -->
{% include "includes/sidebar.html" %}

<div class="hero-image">
  <p class="ex1"></br></br>Actualmente la inteligencia artificial se esta convirtiendo en una herramienta fundamental en todas las areas de la salud. Sin embargo, el número de aplicaciones listo para ser desplegados en la práctica es muy limitado. Esto abre una oportunidad sin precedentes a las prestadoras de serviciones vanguardistas de ganar un ventaja importante a sus competidores menos innovadores.</br></br>

    Unete a LuneraAI para liderar el sector de la Salud haciendo uso de las inmminentes aplicaciones de Inteligencia Artificial, Machine Learning y Automatización de Procesos.

  </br> Este aplicativo es una pequeña muestra de estas poderosas herramientas.</p>
</div>

 <div class="wrapper">
{% include "includes/footer.html" %}
</div>  
<!--     <script src="{% static 'js/main.js' %}"></script> -->
  </body>
</html>
