
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quality Image Tool</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
  </head>

  <body>
    <div class="header" href="/" >
       <!-- Brand -->
      <h1>Estimación Calidad de Imagen</h1>

    </div>

    <!-- Sidebar -->
{% include "includes/sidebar.html" %}
<form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input
        class="custom-file-upload"
        type="file"
        accept="fdicom"
        name="fdicom"
        id="file"
      />
      <button class="compress_image" type="submit" id="submitBtn">
	Estimacion de SDNR
      </button>
      <div class="status">
        <p id="message">{{ message }}</p>
      </div>
    </form>

<div class="wrapper">
   <img
        src="{% static image_name %}"
	alt="Compressed Image"
        width="400px"
     />

     <div class="info_container">
        <ul>
          <li>Nombre del Archivo: <span class="name">{{ fname }}</span></li>
           <li>Valor SNDR: <span class="name">{{ sdnr }}</span></li>
          <li>Nota de Calidad: <span class="type">{{ calidad }}</span></li>
        </ul>
      </div>
    </div>

 <div class="wrapper">
{% include "includes/footer.html" %}
</div>
<!--     <script src="{% static 'js/main.js' %}"></script> -->
  </body>
</html>
